;;; This is used by agent-db.clj to create agents.
;;; "The actual agent :base-type is the one provided here with -<llm-provider> added."

;;; ToDo: Right now I keep this on an atom adb/agent-infos. It might be better to put this nfion into the relevant DBs.
;;;       This, however, isn't a complete solution because
;;;              1) they aren't all system agents (shared-assistant go away, but orchestartor already gets special handling.)
;;;              2) it would be best to put a :force-new? on these where needed ???
{
 ;; ---------- project agents base-types -------------------------
 :orchestrator-agent,
 {:base-type :orchestrator-agent,
  :tools [{:type "file_search"}],
  :model-class :gpt,
  :instruction-path "agents/orchestrator.txt",
  ;; The vector store includes all the EADS instructions for interviewers.
  ;; Whatever JSON is in the ${SCHEDULING_TBD_DB}/etc/EADS get added to :vector-store-paths.
  :vector-store-paths [], ; see adb/init-agent-infos for the real value
  :agent-type :project}

 :process-interview-agent,
 {:base-type :process-interview-agent,
  :tools [{:type "file_search"}],
  :model-class :gpt,
  :instruction-path "agents/iviewrs/process-iviewr-instructions.txt",
  :agent-type :shared-assistant}

 :data-interview-agent
 {:base-type  :data-interview-agent
  :tools [{:type "file_search"}],
  :model-class :gpt,
  :instruction-path "agents/iviewrs/data-iviewr-instructions.txt",
  :vector-store-paths ["resources/agents/iviewrs/papers/object-role-modeling--an-overview.pdf"],
  :agent-type :shared-assistant}

 :resources-interview-agent,
 {:base-type :resources-interview-agent,
  :tools [{:type "file_search"}],
  :model-class :gpt,
  :instruction-path "agents/iviewrs/resources-iviewr-instructions.txt",
  :agent-type :shared-assistant}

 :optimality-interview-agent,
 {:base-type :optimality-interview-agent,
  :tools [{:type "file_search"}],
  :model-class :gpt,
  :instruction-path "agents/iviewrs/optimality-iviewr-instructions.txt",
  :agent-type :shared-assistant}

}