{:type "json_schema",
 :json_schema {:name "boolean_answer", ; No spaces allowed.
               :strict true,
               :schema {:type "object",
                        :properties {:answer {:type "boolean"}}
                        :required ["answer"],
                        :additionalProperties false}}}
