{:type "json_schema",
 :json_schema {:name "scheduling_challenges", ; No spaces allowed.
               :strict true,
               :schema {:type "object",
                        :properties {:PRODUCT-OR-SERVICE-NAME {:type "string"}
                                     :CHALLENGES     {:type "array"
                                                      :items {:type "string"}}
                                     :ONE-MORE-THING {:type "string"}}
                        :required ["PRODUCT-OR-SERVICE-NAME" "CHALLENGES" "ONE-MORE-THING"],
                        :additionalProperties false}}}
