{:paths   ["src/lib"]
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           cljs-ajax/cljs-ajax                 {:mvn/version "0.8.4"}
           com.cemerick/url                    {:mvn/version "0.1.1"}
           ;;com.cognitect/transit-clj           {:mvn/version "1.0.333"}
           com.github.pdenno/mznp              {:mvn/version "1.0.89"}
           com.taoensso/timbre                 {:mvn/version "6.5.0"}
           com.wsscode/pathom3                 {:mvn/version "2023.08.22-alpha"}
           dk.ative/docjure                    {:mvn/version "1.19.0"}   ; spreadsheets
           funcool/promesa                     {:mvn/version "11.0.678"}
           io.replikativ/datahike              {:mvn/version "0.6.1562"}
           metosin/muuntaja                    {:mvn/version "0.6.10"}
           metosin/reitit                      {:mvn/version "0.7.0"}
           metosin/ring-http-response          {:mvn/version "0.9.3"}
           mount/mount                         {:mvn/version "0.1.18"}
           net.clojars.wkok/openai-clojure     {:mvn/version "0.18.0"}
           org.apache.logging.log4j/log4j-api  {:mvn/version "2.23.1"} ; ToDo: Move logging to :dev.
           org.apache.logging.log4j/log4j-core {:mvn/version "2.23.1"} ; ToDo: Move logging to :dev.
           org.clj-commons/hickory             {:mvn/version "0.7.4"}
           org.clojure/clojure                 {:mvn/version "1.11.3"}
           org.clojure/core.unify              {:mvn/version "0.6.0"}
           org.clojure/data.codec              {:mvn/version "0.2.0"}
           org.clojure/data.json               {:mvn/version "2.5.0"}
           org.ring-clojure/ring-websocket-async {:mvn/version "0.1.0-beta2"} ;  "0.1.19" Does not exist.
           org.slf4j/slf4j-nop                 {:mvn/version "2.0.13"}    ; Stop spurious logging!
           ring/ring-defaults                  {:mvn/version "0.5.0"}
           ring/ring-jetty-adapter             {:mvn/version "1.12.1"}  ;; These could be 2.0.0-alpha1, but currently problems with ring-websocket-async
           ring/ring-core                      {:mvn/version "1.12.1"}  ;; I switched to try org.ring-clojure/ring-websocket-async
           ring/ring-devel                     {:mvn/version "1.12.1"}  ;; Of course, both could have been accommodated.
           ring-cors/ring-cors                 {:mvn/version "0.1.13"}
           selmer/selmer                       {:mvn/version "1.12.61"}} ; Used for home.html.

 ;; See .dir-locals.el for some defaults on CIDER C-c M-j
 :aliases {:dev          {:extra-paths    ["src/server" "test" "env/dev" "resources"]
                          :jvm-opts       ["-XX:-OmitStackTraceInFastThrow" ; https://www.metosin.fi/blog/missing-stacktraces/
                                           #_"-Djdk.attach.allowAttachSelf"]  ; https://github.com/clojure-goes-fast/clj-async-profiler
                          ;; :dev includes src/server (for use with exerciser) thus much of this stuff.
                          :extra-deps     {applied-science/js-interop      {:mvn/version "0.4.2"}
                                           ;com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"}
                                           cider/cider-nrepl               {:mvn/version "0.49.0"}
                                           com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                           expound/expound                 {:mvn/version "0.9.0"} ; more readable spec messages
                                           lilactown/helix                 {:mvn/version "0.2.1"}
                                           org.clojure/java.classpath      {:mvn/version "1.1.0"}
                                           nrepl/nrepl                     {:mvn/version "1.2.0"}
                                           org.clojure/tools.namespace     {:mvn/version "1.5.0"}}}

           :test       {:extra-paths    ["src/server" "test" "env/dev"]
                        :main-opts      ["-m" "kaocha.runner"]
                        :extra-deps     {lambdaisland/kaocha          {:mvn/version "1.91.1392"}
                                         ;; Since I'm running from the command line, bin/koacha, need to repeat these.
                                         com.lambdaisland/classpath   {:mvn/version "0.5.48"}
                                         org.clojure/tools.namespace  {:mvn/version "1.5.0"}}}

           :app       {:extra-paths ["src/app" "src/server" "test"] ; src/server has shared util.cljc
                       :extra-deps  {thheller/shadow-cljs           {:mvn/version "2.28.9"}
                                     lilactown/helix                {:mvn/version "0.2.1"}
                                     cljs-ajax/cljs-ajax            {:mvn/version "0.8.4"}
                                     applied-science/js-interop     {:mvn/version "0.4.2"}}}

           :kaochaSTBD {:extra-paths    ["test" "env/dev"]
                        :extra-deps     {thheller/shadow-cljs      {:mvn/version "2.28.9"}
                                         lambdaisland/kaocha       {:mvn/version "1.91.1392"}
                                         lambdaisland/kaocha-cljs2 {:mvn/version "0.2.72"}
                                         com.lambdaisland/glogi    {:mvn/version "1.3.169"}
                                         nrepl/nrepl               {:mvn/version "1.2.0"}
                                         cider/cider-nrepl         {:mvn/version "0.49.0"}}}

           :build    {:deps {io.github.clojure/tools.build {:mvn/version "0.10.4"}}
                      :ns-default build}

           ;; clj -M:morpheus -d graphs -f svg -e 'clojure.core/.*|:clj-kondo/unknown-namespace/.*|:cljs.core/.*' src
           :var-deps-graph {:extra-deps      {thomasa/morpheus {:git/url "https://github.com/benedekfazekas/morpheus.git"
                                                                :git/sha "9d6f2c1ede8be7ab4508065fe6b7e40e0c099ab6"}}
                            :main-opts       ["-m" "thomasa.morpheus.main"]}}}

;;; clj -X:search/outdated
;;;  |    :file |                                 :name |    :current |   :latest |
;;;  |----------+---------------------------------------+-------------+-----------|
;;;  | deps.edn |                     cider/cider-nrepl |      0.47.1 |    0.49.0 |
;;;  |          |         io.github.clojure/tools.build |      0.10.3 |    0.10.4 |
;;;  |          |                io.replikativ/datahike |    0.6.1559 |  0.6.1562 |
;;;  |          |                   lambdaisland/kaocha |   1.89.1380 | 1.91.1392 |
;;;  |          |                       lilactown/helix |       0.2.0 |     0.2.1 |
;;;  |          |       net.clojars.wkok/openai-clojure |      0.16.0 |    0.18.0 |
;;;  |          |                           nrepl/nrepl |       1.1.1 |     1.2.0 |
;;;  |          | org.ring-clojure/ring-websocket-async | 0.1.0-beta2 |     0.2.0 | ; Keep beta2
;;;  |          |                         selmer/selmer |     1.12.59 |   1.12.61 |
;;;  |          |                  thheller/shadow-cljs |      2.28.6 |    2.28.9 |
