{:paths   ["src/lib"]
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           cljs-ajax/cljs-ajax                 {:mvn/version "0.8.4"}
           com.cemerick/url                    {:mvn/version "0.1.1"}
           com.github.pdenno/mznp              {:mvn/version "1.0.89"}
           com.taoensso/timbre                 {:mvn/version "6.6.1"} ; Kee
           com.taoensso/telemere               {:mvn/version "1.0.0-RC1"}
           com.taoensso/telemere-slf4j         {:mvn/version "1.0.0-RC1"} ; Just adding it here initializes it; try (tel/check-interop).
           com.taoensso/truss                  {:mvn/version "1.12.0"}
           com.wsscode/pathom3                 {:mvn/version "2023.08.22-alpha"}
           dk.ative/docjure                    {:mvn/version "1.19.0"}   ; spreadsheets
           funcool/promesa                     {:mvn/version "11.0.678"}
           io.github.paintparty/bling          {:mvn/version "0.4.2"}
           io.replikativ/datahike              {:mvn/version "0.6.1592"}
           metosin/jsonista                    {:mvn/version "0.3.12"}
           metosin/muuntaja                    {:mvn/version "0.6.10"}
           metosin/reitit                      {:mvn/version "0.7.2"}
           metosin/ring-http-response          {:mvn/version "0.9.4"}
           mount/mount                         {:mvn/version "0.1.20"}
           net.clojars.wkok/openai-clojure     {:mvn/version "0.22.0"}   ; 0.21.3 is a guess about version with my PR.
           org.apache.logging.log4j/log4j-core {:mvn/version "2.24.1"}   ; Used by jetty
           org.clj-commons/hickory             {:mvn/version "0.7.5"}
           org.clojure/clojure                 {:mvn/version "1.12.0"}
           org.clojure/core.unify              {:mvn/version "0.7.0"}
           org.ring-clojure/ring-websocket-async {:mvn/version "0.1.0-beta2"} ;  "0.1.19" Does not exist.
           ring/ring-defaults                  {:mvn/version "0.5.0"}
           ring/ring-jetty-adapter             {:mvn/version "1.13.0"}  ;; These could be 2.0.0-alpha1, but currently problems with ring-websocket-async
           ring/ring-core                      {:mvn/version "1.13.0"}  ;; I switched to try org.ring-clojure/ring-websocket-async
           ring/ring-devel                     {:mvn/version "1.13.0"}  ;; Of course, both could have been accommodated.
           ring-cors/ring-cors                 {:mvn/version "0.1.13"}
           selmer/selmer                       {:mvn/version "1.12.61"}} ; Used for home.html.

 ;; See .dir-locals.el for some defaults on CIDER C-c M-j
 :aliases {:dev          {:extra-paths    ["src/server" "test" "env/dev" "resources"]
                          :jvm-opts       ["-XX:-OmitStackTraceInFastThrow" ; https://www.metosin.fi/blog/missing-stacktraces/
                                           #_"-Djdk.attach.allowAttachSelf"]  ; https://github.com/clojure-goes-fast/clj-async-profiler
                          ;; :dev includes src/server (for use with exerciser) thus much of this stuff.
                          :extra-deps     {applied-science/js-interop      {:mvn/version "0.4.2"}
                                           ;binaryage/devtools              {:mvn/version "1.0.7"} ; ToDo: would use with telemere handler:console-raw.
                                           ;com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"}
                                           cider/cider-nrepl               {:mvn/version "0.50.2"}
                                           com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                           expound/expound                 {:mvn/version "0.9.0"} ; more readable spec messages
                                           lilactown/helix                 {:mvn/version "0.2.1"}
                                           org.clojure/java.classpath      {:mvn/version "1.1.0"}
                                           nrepl/nrepl                     {:mvn/version "1.3.0"}
                                           org.clojure/tools.namespace     {:mvn/version "1.5.0"}}}

           :test       {:extra-paths    ["src/server" "test" "env/dev"]
                        :main-opts      ["-m" "kaocha.runner"]
                        :extra-deps     {lambdaisland/kaocha          {:mvn/version "1.91.1392"}
                                         ;; Since I'm running from the command line, bin/koacha, need to repeat these.
                                         com.lambdaisland/classpath   {:mvn/version "0.5.48"}
                                         org.clojure/tools.namespace  {:mvn/version "1.5.0"}}}

           :app       {:extra-paths ["src/app" "src/server" "test"] ; src/server has shared util.cljc
                       :extra-deps  {thheller/shadow-cljs           {:mvn/version "2.28.20"}
                                     lilactown/helix                {:mvn/version "0.2.1"}
                                     cljs-ajax/cljs-ajax            {:mvn/version "0.8.4"}
                                     applied-science/js-interop     {:mvn/version "0.4.2"}}}

           :kaochaSTBD {:extra-paths    ["test" "env/dev"]
                        :extra-deps     {thheller/shadow-cljs         {:mvn/version "2.28.20"}
                                         lambdaisland/kaocha          {:mvn/version "1.91.1392"}
                                         lambdaisland/kaocha-cljs2    {:mvn/version "0.2.72"}
                                         com.lambdaisland/glogi       {:mvn/version "1.3.169"}
                                         com.lambdaisland/chui        {:mvn/version "1.2.205"} ; Still can't find lambdaisland.chui.remote. (start funnel?)
                                         nrepl/nrepl                  {:mvn/version "1.3.0"}
                                         cider/cider-nrepl            {:mvn/version "0.50.2"}}}

           :build    {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                      :ns-default build}

           ;; clj -M:morpheus -d graphs -f svg -e 'clojure.core/.*|:clj-kondo/unknown-namespace/.*|:cljs.core/.*' src
           :var-deps-graph {:extra-deps      {thomasa/morpheus {:git/url "https://github.com/benedekfazekas/morpheus.git"
                                                                :git/sha "9d6f2c1ede8be7ab4508065fe6b7e40e0c099ab6"}}
                            :main-opts       ["-m" "thomasa.morpheus.main"]}}}

;;; clj -X:search/outdated
;;;  |    :file |                                 :name |    :current |  :latest |
;;;  |----------+---------------------------------------+-------------+----------|
;;;  | deps.edn |                io.replikativ/datahike |    0.6.1592 | 0.6.1594 | ; Not yet
;;;  |          |    org.apache.logging.log4j/log4j-api |      2.24.1 |   2.24.2 | ; ERROR Log4j API could not find a logging provider. Problem with both versions.
;;;  |          | org.ring-clojure/ring-websocket-async | 0.1.0-beta2 |    0.2.0 | ; Keep beta2
;;;  |          |                  thheller/shadow-cljs |     2.28.19 |  2.28.20 |
