{:deps {:aliases [:app]}
 :nrepl {:port 7002}
 :http  {:port 9631}
 :builds ; Only :frontend :kaochaRM have been used much.
 {:frontend ;-------------- Running the stbd-client -------------------
  {:target           :browser
   :nrepl           {:middleware [cider.nrepl/cider-middleware]}
   :output-dir       "resources/public/js"
   :asset-path       "/js"
   :compiler-options {:externs ["datascript/externs.js"]}
   :modules          {:app {:entries [stbd-app.core] ; creates app.js owing to key :app.
                            :init-fn stbd-app.core/start}}
   :devtools         {:after-load stbd-app.core/start
                      :before-load stbd-app.core/stop}}

  :kaochaSTBD ;-------------- Testing cljs ------------------------------
  {:target           :browser-test
   :test-dir         "target/kaocha-test"
   :runner-ns        kaocha.cljs2.shadow-runner
   :ns-regexp        ".*-test$"
   :compiler-options {:externs ["datascript/externs.js"]}
   :devtools         {:http-port 1818
                      :http-root "target/kaocha-test"
                      :after-load dev.kaocha/reload ; dev.kaocha/reload is an attempt to suppress useless log output.
                      :preloads [lambdaisland.chui.remote #_dev.kaocha/reload]}}}}
