;;; https://github.com/borkdude/clj-kondo/blob/master/doc/config.md
{:project-root-uri "file:///home/msid/pdenno/Documents/git/schedulingTBD"
 :lint-as {scheduling-tbd.shop/defrew2shop  clojure.core/defmacro
           scheduling-tbd.shop/defrew2db    clojure.core/defmacro}}
