{:message-type :PHASE-2-EADS,
 :EADS
 {:interview-objective
  "Produce a data structure similar in form to the EADS in this object, but describing the interviewees' production processes.",
  :EADS
  {:process-id
   {:val "pencil-manufacturing",
    :comment
    "This is the top-level process. You can name it as you see fit; don't ask the interviewees."},
   :inputs
   {:val
    ["graphite"
     "clay"
     "water"
     "cedar wood"
     "metal"
     "eraser material"
     "paint"],
    :comment
    "These are all the raw materials used to make the product. You can figure this out by looking at all the raw materials in the leaf processes."},
   :outputs
   {:val
    [{:item-id "finished pencils",
      :quantity {:units "finished pencils", :value-string "100000"}}],
    :comment
    "inputs and outputs can either be simple strings like we used above, 'graphite', clay..., or objects like this, with an 'item-id' and 'quantity'.\nUse disgression (mindful of the questioning budget) about where you ask for quantities. Start simple and pursue details were the budget allows."},
   :resources
   {:val
    ["extruder"
     "kiln"
     "milling machine"
     "glue applicator"
     "shaping machine"],
    :comment
    "Resources, unlike inputs, are durable and reusable. Do not ask about quantities of resources; that's a conversation for another interviewer."},
   :duration
   {:val {:units "hours", :value-string "4"},
    :comment
    "We use a string for 'value-string' in case interviewees answer it something like 'it varies'"},
   :subprocesses
   [{:process-id "graphite-core-production",
     :inputs ["graphite" "clay" "water"],
     :outputs
     [{:item-id "graphite core",
       :quantity {:units "graphite cores", :value-string "100000"}}],
     :resources ["mixer" "extruder" "kiln"],
     :subprocesses
     [{:process-id "mix-graphite-and-clay",
       :process-var
       {:val "mix",
        :comment
        "Include a camelCase variable of less than 25 characters that describes the process. We'll use these in the translation to MiniZinc."},
       :inputs ["graphite" "clay" "water"],
       :outputs
       [{:item-id "graphite-clay paste",
         :quantity {:units "liters", :value-string "100"}}],
       :resources ["mixer"],
       :duration {:units "hours", :value-string "1"},
       :subprocesses []}
      {:process-id "extrude-core",
       :process-var "extrude",
       :inputs ["graphite-clay paste"],
       :outputs
       [{:item-id "extruded graphite rods",
         :quantity
         {:units "extruded graphite core", :value-string "100000"}}],
       :resources ["extruder"],
       :duration {:units "minutes", :value-string "20"},
       :subprocesses []}
      {:process-id "dry-and-bake-core",
       :process-var "dryAndBakeCores",
       :inputs ["extruded graphite rods"],
       :outputs
       [{:item-id "extruded graphite rods",
         :quantity
         {:units "extruded graphite core", :value-string "100000"}}],
       :resources ["kiln"],
       :duration {:units "hours", :value-string "2"},
       :subprocesses []}]}
    {:process-id "wood-casing-production",
     :inputs ["cedar wood"],
     :outputs ["wood slats with grooves"],
     :resources ["milling machine"],
     :subprocess-flow
     {:val "individuals-from-batch",
      :comment
      "The string 'individuals-from-batch' means that it isn't necessary to wait for all the slats to be created;\nyou can start 'cut-grooves-in-slats' as soon as the first slat is available."},
     :duration
     {:val {:units "hours", :value-string "2"},
      :comment
      "Because 'individuals-from-batch', this process's duration is (roughly speaking) the same as maximum of the two subprocesses."},
     :subprocesses
     [{:process-id "mill-wood-slats",
       :process-var "millSlats",
       :inputs ["cedar wood"],
       :outputs ["milled wood slats"],
       :resources ["milling machine"],
       :duration {:units "hours", :value-string "2"},
       :subprocesses []}
      {:process-id "cut-grooves-in-slats",
       :process-var "cutGrooves",
       :inputs ["milled wood slats"],
       :outputs ["wood slats with grooves"],
       :resources ["groove cutter"],
       :duration {:units "hours", :value-string "2"},
       :subprocesses []}]}
    {:process-id "assembly",
     :inputs
     {:val
      [{:item-id "graphite core", :from "graphite-core-production"}
       {:item-id "wood slats with grooves",
        :from "wood-casing-production"}
       "metal"
       "erasers"
       "paint"],
      :comment
      "The 'from' property names a process that must occur before a process that uses it as an input (e.g. this 'assembly' process).\nThe 'from' property is essential to understanding process ordering and potential for concurrency."},
     :outputs ["finished pencil"],
     :resources ["glue applicator" "shaping machine"],
     :subprocesses
     [{:process-id "insert-core-into-slats",
       :process-var "insert-cores",
       :inputs ["graphite core" "wood slats with grooves"],
       :outputs ["pencil blanks"],
       :resources ["glue applicator"],
       :subprocesses []}
      {:process-id "shape-and-paint-pencil",
       :process-var "shapeAndPaint",
       :inputs ["pencil blanks" "paint"],
       :outputs ["shaped and painted pencils"],
       :resources ["shaping machine" "painting station"],
       :subprocesses []}
      {:process-id "attach-eraser",
       :process-var "attachErasers",
       :optional?
       {:val true,
        :comment
        "'optional?' means that the process does not occur for every product. Not every pencil has an eraser."},
       :inputs ["shaped and painted pencils" "metal" "erasers"],
       :outputs ["finished pencils"],
       :resources ["crimping tool"],
       :subprocesses []}]}]}}}
